extends layout

block content
    div(class='container' style='background-color:blue')
        div(class='row')
            div(class='col-md-3' style='background-color:#ffdcdc')
                form(method='post', role='form', action='/login')
                      div(class='form-group')
                          label Username:
                          input(type='text', class='form-control', name='username')
                      div(class='form-group')
                          label Password:
                          input(type='password', class='form-control', name='password')
                      div(class='form-group')
                          input(type='submit', class='btn btn-default', value='Log in')
