div(class="modal-header")
    h3 Select Project
div(class="modal-body")
    p yada yada
div(class="modal-footer")
    button(class="btn btn-primary" ng-click="ok()") OK
    button(class="btn btn-warning" ng-click="cancel()") Cancel
