extends layout

block content
    div(class='container')
        div(class='row')
            a(href="/time")
                div(class='col-md-1 col-md-offset-4 flat-panel-button')
                    p(class='text-center') Week
        br
        div(class='row' ng-controller='TimeCtrl')
            div(class='col-md-12')
                table(class='table table-hover')
                    thead(class="table-head")
                        td(class="name")
                        td(class="weekday" ng-repeat="day in week" ng-class="{today: day.current}") {{day.label}} {{day.dateLabel}}
                        td(class="weekday") Total
                        td(class="weekday") &nbsp
                    tfoot(class="table-foot")
                        td(class="name")
                            span
                                button(class="btn btn-success" ng-click="onAddRow()") Add row
                            span
                                button(class="btn btn-primary" ng-click="onSave()") Save
                        td(class="weekday" ng-repeat="day in week") {{dayTotal(day)}}
                        td(class="weekday")
                            strong {{total()}}
                        td(class="weekday") &nbsp
                    tbody(ng-repeat='(id,activity) in period.activities')
                        tr
                            td(class="name")
                                span
                                    strong {{activityName(id)}}
                                    span  ({{projectNameByActivity(id)}})
                            td(class="weekday" ng-repeat="day in week")
                                input(type="text" class="weekday form-control" ng-model="activity[day.date]")
                            td(class="weekday") {{activityTotal(activity)}}
                            td(class="weekday")
                                button(class="btn btn-danger" ng-click="onRemoveRow($index)")
                                    span(class="glyphicon glyphicon-remove")
