extends layout

block content
    div(class='container')
        div(class='row')
            a(href="/time")
                div(class='col-md-1 col-md-offset-4 flat-panel-button')
                    p(class='text-center') Week
        br
        div(class='row' ng-controller='TimeCtrl')
            div(class='col-md-12')
                table(class='table table-hover')
                    thead(class="table-head")
                        td(class="name")
                        td(class="weekday" ng-repeat="i in range(7) track by $index" ng-class="{today: week[$index].current}") {{week[$index].label}} {{week[$index].date}}
                        td(class="weekday") Total
                        td(class="weekday") &nbsp
                    tfoot(class="table-foot")
                        td(class="name")
                            span
                                button(class="btn btn-success" ng-click="onAddRow()") Add row
                            span
                                button(class="btn btn-primary" ng-click="onSave()") Save
                        td(class="weekday" ng-repeat="i in range(7) track by $index") {{colTotal($index)}}
                        td(class="weekday") {{total()}}
                        td(class="weekday") &nbsp
                    tbody(ng-repeat='row in rows')
                        tr
                            td(class="name")
                                span
                                    strong {{row.activity.name}}
                                    span  ({{row.project.name}})
                            td(class="weekday" ng-repeat="i in range(7) track by $index")
                                input(type="text" class="weekday form-control" ng-model="row.time[$index]")
                            td(class="weekday") {{rowTotal(row)}}
                            td(class="weekday")
                                button(class="btn btn-danger" ng-click="onRemoveRow($index)")
                                    span(class="glyphicon glyphicon-remove")
